.ckca_top_page {
    .ckca_check {
        top: 0in;
    }
    .ckca_stub_1 {
        top: 3.45in;
    }
    .ckca_stub_2 {
        top: 7in;
    }

    .ckca_check .sequence_number {
        top: 0.1in;
        left: 7.1in;
        width: 0.7in;
    }
    .ckca_date_label {
        top: 0.55in;
        left: 6in;
        width: .75in;
        text-align: center;
    }
    .ckca_date {
        top: 0.55in;
        left: 6.37in;
        width: 1.47in;
        text-align: center;
    }
    .ckca_date_format {
        top: 0.75in;
        left: 6.37in;
        width: 1.47in;
        text-align: center;
        font-size: 0.8em;
    }
    .ckca_amount {
        top: 1.17in;
        left: 6.77in;
        width: 1.08in;
        text-align: left;
    }
    .ckca_amount_in_word {
        top: 1.17in;
        left: 0.25in;
        width: 6in;
        text-align: left;
        font-weight: bold;
        overflow: hidden;
    }
    .ckca_payee_name {
        top: 1.67in;
        left: 0.5in;
        width: 4.0in;
        text-align: left;
    }
    .ckca_payee_address {
        top: 1.87in;
        left: 0.5in;
        width: 4.0in;
        text-align: left;
        font-size: 0.9em;
    }
    .ckca_memo {
        top: 2.6in;
        left: 0.65in;
        width: 2.9in;
        text-align: left;
        font-size: 0.9em;
        overflow: hidden;
    }
}
