.o_web_studio_client_action {
    .o_web_studio_editor_manager .o_web_studio_view_renderer .o_form_view {
        $-web-studio-form-edition-gap: 10px;

        &:not(.o_form_nosheet) {
            padding: 0;
        }
        .o_form_sheet_bg {
            display: flex;
            flex-flow: column nowrap;
            padding: 16px;
        }
        .o_form_sheet, .oe_chatter {
            max-width: 100%;
        }
        .o_form_sheet > .o_group {
            margin-left: -$-web-studio-form-edition-gap;
            margin-right: -$-web-studio-form-edition-gap;
        }
        .oe_chatter {
            position: relative;
            .o_web_studio_overlay {
                @include o-position-absolute(0, 0, 0, 0);
                transition: all 0.2s ease 0s;
                &:hover {
                    background-color: rgba(white, 0.4);
                }
            }
        }
        .o_web_studio_statusbar_hook {
            text-align: center;
            color: $o-brand-primary;
            background-color: lightgray;
            font-weight: bold;
            cursor: pointer;
            height: 42px;
            line-height: 42px;
            opacity: 0.6;
            transition: opacity 0.3s ease 0s;

            &:hover {
                opacity: 1;
            }
        }
        .o_statusbar_status {
            > .o_arrow_button {
                // make the buttons look inactive in Studio
                &:hover, &:active, &:focus {
                    color: gray('700');
                    background-color: white;
                }
            }
        }

        &.o_web_studio_form_view_editor {
            .o_web_studio_hook {
                :first-child {
                    line-height: 0px;
                }
                td, th {
                    padding: 0;
                }
                > td {
                    padding: 0;
                }
                span.o_web_studio_hook_separator {
                    display: block;
                    position: relative;
                    border: 0px dashed transparent;
                    transition: all 0.2s cubic-bezier(0.215, 0.610, 0.355, 1.000) 0s;
                }
            }
            .o_web_studio_hook.o_web_studio_nearest_hook {
                cursor: pointer !important;
                outline: none;
                span.o_web_studio_hook_separator {
                    background-color: rgba($o-brand-primary, 0.02);
                    border: 1px dashed rgba($o-brand-primary, 0.5);
                    padding: 20px;
                    margin: 4px 0;
                }
            }
            .o_inner_group {
                transition: border-color 0.5s;
                padding: $-web-studio-form-edition-gap*0.5;
                border-collapse: separate;
                border: $-web-studio-form-edition-gap*0.5 solid rgba($o-brand-primary, 0.1);

                tr:not(.o_web_studio_hovered) td > *:not(.o_horizontal_separator) {
                    opacity: 0.5;
                }

                tr:not(.o_web_studio_new_line) {
                    td {
                        border: $-web-studio-form-edition-gap*0.5 solid transparent;
                        border-bottom-width: 1px;

                        &.o_td_label {
                            min-width: 140px;
                        }
                    }
                }
            }
            // drag&drop
            td.ui-draggable-helper-ready {
                // border doesn't work because of border-collapse
                outline: 2px solid $o-brand-primary;
            }
        }
        .o_field_image img {
            max-width: 100%;
            height: auto;
            &[src="/web/static/src/img/placeholder.png"] {
                padding: 3% 6%;
                background: $o-web-studio-bg-lighter;
            }
        }
        .o_web_studio_hovered {
            cursor: pointer;
            outline: 1px dashed $o-brand-primary;
            &:not(.o_statusbar_status) {
                outline-offset: -1px;
            }
        }
        .o_web_studio_clicked {
            outline: 2px solid $o-brand-primary;
            &.btn {
                outline: 2px solid darken($o-brand-primary, 5%);
            }
            &:not(.o_statusbar_status) {
                outline-offset: -2px;
            }
        }
        .o_web_studio_button_hook {
            width: 48px;
            cursor: pointer;
            text-align: center;
            padding: 0;
            border-left: none;
        }

        .oe_button_box:hover .o_web_studio_button_hook:before {
            content: "\f0fe";
            font-family: FontAwesome;
            font-size: 16px;
            color: $o-brand-primary;
        }
        .o_notebook li {
            margin-right: 3px;
        }
        .o_web_studio_add_chatter {
            position: relative;
            margin: 16px -16px;
            cursor: pointer;
            color: $o-web-studio-text-light;
            transition: all 0.2s ease 0s;
            > .o_chatter_topbar {
                padding: 16px;
                max-width: 90%;
                opacity: 0;
                pointer-events: none;
                transition: all 0.2s ease 0s;
            }
            > span {
                position: relative;
                max-width: 100%;
                display: block;
                transition: width 0.2s ease .1s;
                > span {
                    @include o-position-absolute($left:0);
                    @include size(100%, 52px);
                    padding-top: 16px;
                    text-align: center;
                    background: rgba(white, 0.1);
                }
            }
            &:hover {
                width: auto;
                background-color: rgba(white, 0.9);
                color: transparent;
                transition: all .2s ease .2s;
                > span {
                    width: 100%;
                }
                > .o_chatter_topbar {
                    transition: all .8s ease .1s;
                    max-width: 100%;
                    opacity: 1;
                }
            }
        }
    }
}

table.o_web_studio_new_elements {
    border-collapse: separate;
    border-spacing: 20px;

    td.o_web_studio_new_element {
        &[disabled] {
          opacity: 0.5;
          cursor: auto;
        }
        cursor: pointer;
        border: 1px solid #ddd;
        text-align: center;

        > i {
            font-size: 35px;
        }
    }
}

.o_web_studio_new_button_dialog {
    > div {
        margin-top: 16px;
    }
    .o_web_studio_icon_selector {
        display: inline-block;
        padding: 3px;
        font-size: medium;

        &.o_selected {
            outline: 1px solid $o-brand-primary;
        }
    }
}
