// ============================
// Mass Mailing "Solar"
// ============================

$o-mm-solar-color-alpha: #EAECED;
$o-mm-solar-color-beta: white;
$o-mm-solar-color-gamma: #f2d13e;
$o-mm-solar-color-delta: darken($o-mm-solar-color-gamma, 5%);
$o-mm-solar-color-epsilon: black;
$o-mm-solar-color-zeta: #262b36;


@mixin o-mm-solar-bg-variant($bg, $text) {
    background-color: $bg;
    color: $text;

    .o_mail_snippet_general {
        h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
            color: $text;
        }
        a, .btn.btn-link {
            color: $text;
        }
    }
}

.o_solar_theme {

    // ===== Colors =====
    .bg-beta {
        @include o-mm-solar-bg-variant($o-mm-solar-color-gamma, $o-mm-solar-color-beta);
    }
    .text-beta {
        color: $o-mm-solar-color-gamma;
    }
    .bg-delta {
        @include o-mm-solar-bg-variant($o-mm-solar-color-zeta, $o-mm-solar-color-beta);

        .btn.btn-primary {
            color: $o-mm-solar-color-gamma;
            background-color: $o-mm-solar-color-beta;
            font-weight: bold;
        }
    }


    // ===== Layout =====
    &.o_layout {
        background-color: $o-mm-solar-color-alpha;

        > .o_mail_wrapper {
            background: rgba(0, 0, 0, 0);
            background: transparent;
            border: none;

            > * {
                margin-bottom: 16px;
            }
        }
    }

    // ===== Snippets (general) =====

    .o_mail_snippet_general {
        .btn.btn-primary {
            background-color: $o-mm-solar-color-gamma;
            color: $o-mm-solar-color-beta;
        }

        a, .btn.btn-link {
            color: $o-mm-solar-color-delta;
        }
    }

    // ===== Snippets (specific) =====
    [class^="o_mail_block"]:not([class*="bg-"]) {
        background-color: $o-mm-solar-color-beta;
        color: $o-mm-solar-color-epsilon;

        &.o_mail_block_header_social, &.o_mail_block_header_text_social, &.o_mail_block_header_logo {
            @include o-mm-solar-bg-variant($o-mm-solar-color-gamma, $o-mm-solar-color-beta);
            .o_mail_snippet_general {
                background: rgba(0,0,0,0);
                background: transparent;
            }
        }
        &.o_mail_block_two_cols, &.o_mail_block_three_cols {
            background: rgba(0,0,0,0);
            background: transparent;
            .o_mail_snippet_general {
                background: rgba(0,0,0,0);
                background: transparent;
            }
        }
        &.o_mail_block_footer_social {
            @include o-mm-solar-bg-variant($o-mm-solar-color-gamma, $o-mm-solar-color-beta);
        }
    }

    .o_mail_block_header_social, .o_mail_block_header_text_social, .o_mail_block_header_logo {
        margin-bottom: 0;

        .o_mail_h_padding {
            padding: 5px 20px;
        }
    }

    .o_mail_block_banner {
        border-bottom: 5px solid $o-mm-solar-color-gamma;
    }

    .o_mail_block_event {
        margin-left: 0;
        margin-right: 0;
    }

    .o_mail_block_footer_separator {
        margin-left: 0;
        margin-right: 0;
    }

    .o_mail_block_image {
        .o_mail_h_padding {
            padding: 0;
            .o_mail_col_mv {
                padding-left: 20px;
                padding-right: 20px;
            }
            > img {
                padding: 0;
            }
        }
    }

    .o_mail_block_footer_separator {
        .o_mail_snippet_general {
            background: rgba(0,0,0,0);
            background: transparent;

            .separator {
                height: 3px;
                background-color: darken($o-mm-solar-color-alpha, 10%);
                border-bottom: 2px solid darken(white, 3%);
            }
        }
    }

    .o_mail_block_two_cols, .o_mail_block_three_cols {
        $tmp-gap: 10px;

        table {
            width: 100%;
            max-width: (600+($tmp-gap*2));
        }

        .o_mail_col_container {
            padding: 0 0 ($tmp-gap*2);
            margin: 0 $tmp-gap;
            border-top: 1px solid darken($o-mm-solar-color-beta, 10%);
            border-bottom: 1px solid darken($o-mm-solar-color-alpha, 5%);
            background-color: $o-mm-solar-color-beta;

            > * {
                padding: 0 ($tmp-gap*2);
            }

            img {
                padding: 0!important;
            }
        }
    }

    .o_mail_block_footer_tag_line {
        table.o_mail_h_padding {
            padding-left: 0;
            padding-right: 0;
        }
    }

    .o_mail_block_image_text {
        .o_mail_img_container {
            padding: 0
        }
    }

    .o_mail_block_text_image {
        .o_mail_img_container {
            padding: 0
        }
    }

    .o_mail_block_footer_social {
        .o_mail_table_styles {
            border-top: none;
            padding: 20px;
        }

        .o_mail_footer_social {
            border: none;
        }

        .o_mail_footer_copy {
            font-weight: bold;
            font-size: 9px;
        }

        &.o_mail_footer_social_left {
            .o_mail_footer_description {
                padding-left: 0;
            }
            .o_mail_footer_social {
                padding-right: 0;
            }
        }
    }
}
