@mixin o-when-not-full {
    width: 0;
    max-height: $o-cp-breadcrumb-height;
}
@mixin o-when-full {
    width: 88%;
    max-height: 1000px;
}

@include media-breakpoint-down(sm) {
    .o_control_panel {
        padding-right: 0;
        .breadcrumb  {
            @include o-when-not-full;
            overflow: hidden;
            white-space: nowrap;

            > li {
                &:before {
                    display: none;
                }

                &.o_back_button {
                    &:before {
                        font-family: FontAwesome;
                        content: ""; // fa-arrow-left
                        display: inline-block;

                        padding: 0; // override bootstrap
                        color: inherit;
                    }

                    &.btn {
                        padding: 0.2rem 0.4rem;
                    }

                    > a {
                        display: none;
                    }
                }
            }
        }

        .o_cp_searchview {
            overflow: hidden;
            width: 12%;
            text-align: right;
        }

        .o_cp_left, .o_cp_right {
            width: auto; // override desktop rule width: 50%
            flex: 1 1 auto;
        }

        .o_cp_sidebar {
            display: none;
        }

        .o_cp_switch_buttons {
            &.show > ul.dropdown-menu {
                display: inline-flex;
                min-width: 0px;
            }
        }

        &.o_breadcrumb_full {
            .breadcrumb {
                @include o-when-full;
            }
        }
    }
}
