.o_kanban_view.o_kanban_dashboard.o_helpdesk_kanban {
    $sale-table-spacing: 10px;
    $helpdesk-record-width: 420px;

    .o_kanban_group {
        width: $helpdesk-record-width + 2*$o-kanban-group-padding;
    }
    .o_kanban_record {
        width: $helpdesk-record-width;
        min-height: 250px;
    }

    .o_helpdesk_dashboard {
        margin: (0 - $o-kanban-record-margin) ($o-kanban-record-margin - $o-horizontal-padding) $o-kanban-record-margin;
        flex: 1 0 100%;
        padding: 10px ($o-horizontal-padding - $sale-table-spacing);

        background-color: $o-view-background-color;
        position: relative;

        .o_welcome_message {
            width: 100%;
            @include o-position-absolute($left: 0, $top: 0);
            display: flex;
            justify-content: center;

            .o_welcome_image {
                padding: 20px;
            }
            .o_welcome_content > a {
                color: white;
                display: inline-block;
            }
        }

        .o_dashboard_action {
            cursor: pointer;
        }

        > .o_demo {
            opacity: 0.07;
        }

        > div {
            display: inline-block;
            vertical-align: top;
            @include media-breakpoint-up(md) {
                width: 50%;
            }

            > table {
                margin-bottom: 0;
                table-layout: fixed;
                border-spacing: $sale-table-spacing 0px;
                border-collapse: separate;
                > tbody > tr > td {
                    vertical-align: middle;
                    text-align: center;
                    border-top: 1px solid $o-view-background-color;
                    width: 25%;

                    height: 33px;

                    span {
                        display: inline;
                    }

                    a:hover {
                        text-decoration: none;
                    }

                    &.o_main {
                        background-color: $o-brand-primary;
                        &:hover {
                            background-color: darken($o-brand-primary, 10%);
                        }
                        a {
                            color: white;
                        }
                    }
                    &.o_warning {
                        background-color: orange;
                        &:hover {
                            background-color: darken(orange, 10%);
                        }
                        a {
                            color: white;
                        }
                    }
                    &.o_secondary {
                        background-color: $o-brand-lightsecondary;
                        &:hover {
                            background-color: darken($o-brand-lightsecondary, 10%);
                        }
                        a {
                            color: black;
                        }
                    }
                    &.o_highlight, .o_highlight {
                        font-size: 20px;
                    }
                    &.o_text {
                        text-align: left;
                    }
                }

            }
        }
    }
}

.o_helpdesk_sla_failed {
    display: inline-block;
    height: 12px;
    width: 12px;
    border-radius: 6px;
    color: theme-color('danger');
}
