// Variables
$o-docs-gap: 8px;

// ====== Documents public share page design ========
body.o_docs_share_page {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $gray-300;

    .o_docs_btn {
        font-weight: 500;
        border: 1px solid transparent;
        @include o-hover-text-color(transparentize(white, 0.1), white);

        &:hover, &:focus {
            border-color: transparentize(white, 0.5);
        }

        &.btn-lg {
            font-size: 14px;
        }
    }

    #wrap {
        > header {
            height: $o-navbar-height;

            .o_company_logo img {
                display: inline;
                max-height: $o-navbar-height;
            }
        }

        main {
            flex: 1 0 auto;
        }
    }

    // Generic card layout
    .o_card {
        margin-bottom: $o-docs-gap;
        padding: $o-docs-gap $o-docs-gap+2 $o-docs-gap $o-docs-gap;
        background: transparentize(white, 0.1);
        box-shadow: 0 0 20px transparentize(black, 0.75);
        color: $o-main-text-color;
        flex-flow: row nowrap;

        > div > figure {
            max-width: 100%;
        }

        > .o_card_content {
            margin: 0 $o-docs-gap*0.5 0 $o-docs-gap;
            overflow: hidden;

            small {
                font-size: 11px;
            }
        }

        .o_card_title {
            @include o-text-overflow();
            font-weight: 500;

            a {
                @include o-hover-text-color($headings-color, $link-color);
            }
        }

        a {
            @include o-hover-text-color($hover-color: $link-color);
        }

        .o_image {
            margin-top: 2px;
            @include size(43px);
        }

        .o_image_preview {
            @include o-position-absolute(0,0,0,0);
            margin: -$o-docs-gap 0 (-$o-docs-gap) (-$o-docs-gap);
            background-size: cover;
            background-position: center;
        }
    }


    // All single file sharing
    #wrap.o_share_single {
        main {
            justify-content: center;
            align-items: center;
            flex: 1 1 auto;
        }

        .o_docs_single_container {
            max-width: 100%;
        }

        .o_card {
            @include media-breakpoint-down(sm) {
                justify-content: center;
                flex-flow: row wrap;
            }

            .o_image {
                @include size(55px);
            }

            .o_card_title {
                color: $o-main-text-color;
            }
        }
    }

    // Single file sharing with Preview
    #wrap.o_share_single.o_has_preview {
        > main {
            padding: $grid-gutter-width*2 0;
        }

        .o_docs_single_container{
            max-width: 600px;
            max-height: 600px;

            img {
                margin: 0 auto;
                min-height: 150px;
                opacity: 0;
                box-shadow: 0 0 20px transparentize(black, 0.75);
                transition: opacity 0.8s;
            }

            .o_docs_single_actions {
                padding-top: $o-docs-gap*2;

                > span {
                    margin-right: $grid-gutter-width;
                }
            }
        }
    }

    // Multiple files sharing
    #wrap.o_share_multiple {
        .o_docs_upload_wrapper {
            overflow: hidden;

            input {
                font-size: 100px;
                opacity: 0;
                @include o-position-absolute(0, $left:0);
                cursor:pointer;
            }

            &:hover .btn {
                background-color: darken($o-brand-primary, 7.5%)
            }
        }

        .o_docs_share_multible_bar {
            color: $component-active-color;
            font-size: $h4-font-size;

            .o_author {
                white-space: nowrap;
                margin-left: $o-docs-gap;

                img {
                    height: 21px;
                    vertical-align: bottom;
                }
            }
        }
    }
}
