
// =============================
// s_latest_posts_big_picture
// =============================
@s_latest_posts_big_picture-figure_bg: #4546AB;

//  ====== hooks(hook) =====================================
//  ===========================================================
//  Use them to inject NEW rules or overwrite the old ones.
//  This method is more maintenable than classic css overwrite
//  'couse it works also if the snippet's structure will change.

//  How to:
//  in your theme, just call the backdoor like a normal
//  CSS class adding parethesis at the end ".backdoor-name()"
//  (this will prevent the creation of a standard CSS class).
//  Add your rules inside. Your style will take the priority.
//  Done.

//  .s_latest_posts-figure() {
//    background: red;
//    min-height: 200px;
//  }

.s_latest_posts-js_get_posts-hook() {};
.s_latest_posts-figure-hook() {};
