.o_web_client .o_view_grid {
    cursor: default;

    table {
        margin-bottom: 0;
        table-layout: fixed;
        min-width: 100%;
        width: auto;
        max-width: none;
    }
    th, td {
        border: 0 !important;
        vertical-align: middle;
        width: 5em;
    }
    .o_grid_title_header {
        width: 10em;
    }

    thead {
        color: $o-main-text-color;
        background-color: $o-brand-lightsecondary;
        th {
            text-align: center;
            white-space: pre-line;
        }
    }

    tfoot, .o_grid_total {
        color: white;
        background-color: $o-brand-odoo;
        text-align: right;
    }

    tbody {
        background-color: $o-view-background-color;
        text-align: right;
        th > div {
            display: flex;
            > div {
                flex: 1 1 auto;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                &:before {
                    content: "/\00a0";
                    padding: 0 2px;
                }
                &:first-child:before {
                    content: " ";
                }
                &:last-child {
                    flex: 100 1 auto;
                }
            }
        }
        tr:nth-of-type(odd) th > div:after {
            background-color: $table-accent-bg;
        }

        .o_grid_cell_information {
            cursor: pointer;
            opacity: 0;
            transition: opacity 100ms ease 0s;
        }
        .o_grid_cell_container {
            display: flex;
            align-items: center;

            &:hover {
                box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075), 0 0 5px $o-brand-primary;

                &.o_grid_cell_readonly {
                    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075), 0 0 5px $o-brand-lightsecondary;
                    cursor: not-allowed;
                }

                .o_grid_cell_information {
                    opacity: 0.4;
                }
            }

            > i {
                padding: 2px;
                flex: 0 0 auto;
            }
            > .o_grid_input, > .o_grid_show {
                width: 100%;
                flex: 1 1 auto;
            }

            &.o_grid_cell_empty {
                > .o_grid_input, > .o_grid_show {
                    opacity: 0.3;
                }
            }
        }

        .o_grid_input {
            cursor: text;
            text-align: right;
            &:focus {
                opacity: 1 !important;
                background-color: $o-view-background-color;
                outline: none;
            }
            &.o_has_error {
                color: theme-color('danger');
                border-color: theme-color('danger');
            }
        }

        // "grouped" tbodies get special styling for their title rows (first
        // row of the tbody) and the row labels of both title and regular rows
        &.o_grid_section {
            tr th {
                padding-left: 3 * $table-cell-padding-sm;
                text-align: left;
            }
            tr:first-child {
                th {
                    padding-left: $table-cell-padding-sm;
                    white-space: nowrap;
                    text-align: left;
                }
                color: lighten($o-main-text-color, 15%);
                background-color: lighten($o-brand-lightsecondary, 4%);
            }
        }
    }

    .o_grid_current:not(.o_grid_total) {
        background-color: rgba($o-brand-primary, 0.25);
    }

    .o_grid_text_muted{
        color: lighten($o-main-text-color, 15%);
        font-style: italic;
    }

    .o_grid_add_line {
        text-align: left;
    }
    @media print {
        .o_grid_add_line {
            display: none;
        }
    }

    // ensure white background completely surrounds nocontent bubble
    .o_grid_nocontent_container {
        overflow: auto;

        .oe_view_nocontent_img_link {
            padding:10px;
        }
    }
}
