/* For the VAT TICKET/NOT A VALID VAT TICKET notices, requirements for
 * these notices are specified in the circulaire in nr 27 */
.pos .legal-vat-notice {
    text-align: center;
    font-size: 21px; /* 1.5 times larger than regular (14px) */
    font-weight: bold;
}

.pos .blackbox-ids {
    display: inline-table;
    margin-left: 5px;
}

.pos .blackbox-ids td {
    padding-bottom: 5px;
}