

<div class="container">

  <div class="row text-left" style="margin-top: 2em;">
    <div class="col-sm-5">
      <p>Present your blog posts in magazine-style layouts. <br/>
      This snippet is great for highlighting blog content on your homepage.
    </p>
    </div>
    <div class="col-sm-7">
      <img src="screen_1.jpg" class="img-responsive" alt="">
    </div>
  </div>

</div>
