.o_website_studio_manager {
    @include o-web-studio-thumbnails-container;

    > h6 {
        margin: $o-horizontal-padding;
    }

    .o_website_studio_forms {
        @include o-web-studio-thumbnails;

        .o_website_studio_form {
            @include o-web-studio-thumbnail;
            margin: $o-horizontal-padding;
            margin-top: 0px;
            &:first-child {
                opacity: 0.7;
            }
            + .o_website_studio_form {
                margin-left: $grid-gutter-width*0.75;
            }
        }
    }
}
