#wrapwrap .s_big_image_parallax {
    min-height: 780px;
    padding-top: 80px;
}

#wrapwrap .s_big_image_parallax_content {
    z-index: 999;
    h1 {
        color: white;
        font-size: 60px;
    }
}
