#wrapwrap .s_big_image {
    height: 760px;
    background-size: cover;
}

#wrapwrap .s_big_image_content {
    z-index: 999;
    h1 {
        color: white;
        font-size: 60px;

    }
}
