/* Color Block */

.s_color_blocks_img_block {}

#wrapwrap .s_color_blocks_img_title {
    margin-bottom: 0px;
    h5 {
        padding-top: 32px;
    }
}

#wrapwrap .s_color_blocks_img_img img {
    max-width: 100%;
    height: auto;

}
