#wrapwrap .s_header_text_big_picture {
    .s_header_text_big_picture_picturecol {
        padding: 0;
        img {
            width: 100%;
        }
    }
    [class*="col-md-"] p {
        padding: 0 25px;
    }
}
