#wrapwrap .s_icon_box {
    .fa {
        margin: 10px 20px;
        &:hover {
            transition: all 0.3s ease-in-out;
            color: @color-gamma;
        }
    }
    .icon_box_content {
        overflow: hidden;
    }
}
