@label-font-size: @font-size-small;
@label-border-radius: @border-radius-base;
@label-padding: 6px 8px;
@label-margin: 0 8px 0 0;
@label-i-margin: 0 4px;

#wrapwrap .label {
    font-size: @label-font-size;
    border-radius: @label-border-radius;
    padding: @label-padding;
    margin: @label-margin;
    display: inline-block;
    .fa {
        margin: @label-i-margin;
        vertical-align: middle;
    }
}
