
#wrapwrap .s_mini_nav_bar_nav {
    position: relative;
    top: -50px;
    height: 82px;
    padding: 0px;
    .btn {
        font-family: @font-family-sans-serif;
        text-align: center;
        width: 82px;
        height: 82px;
        line-height: 1.33;
        border-radius: 48px;
        border: 0px;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
    }
}

#wrapwrap .s_mini_nav_bar_content h1 {
    color: white;
    font-size: 60px;
}

#wrapwrap .s_mini_nav_bar_item {
    margin: 0 20px;
    min-height: 100px;
}
