#wrapwrap .s_process_steps_2 {
    position: relative;
    &:before {
        content: '';
        top: 60px;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 2px;
        background-color: @gray-lighter;
        @media (max-width: @screen-sm-max) {
            display: none;
        }
    }

    .fa-size-generator(20px);
    .fa-margin-generator(-10px);
}
