#wrapwrap .s_progress {
    > div > .row > div {
        border-left-width: 1px;
        border-left-style: solid;
        @media only screen and (max-width : 768px) {
            border-bottom-width: 1px;
            border-bottom-style: solid;
            border-left-width: 0;
        }

        &:first-child {
            border-left-width: 0;
        }

        &:last-child .process {
            color: rgba(0, 0, 0, 0);
        }
    }

    .fa {
        font-size: 60px;
    }
    .icon-container {
        max-width: 250px;
    }
    .progress-iconset {
        padding: 10px;
        text-align: center;
        min-height: 230px;
        @media only screen and (max-width : 768px) {
            min-height: 50px;
        }

        &:after, &:before {
            content: " ";
            display: block;
            width: 50%;
            height: 50px;
            border-right: 1px solid silver;
            margin: 10px 0;
        }
        &:before {
            display: none;
        }
    }
    .progress-content ~ .progress-iconset {
        &:after {
            display: none;
        }
        &:before {
            display: block;
        }
    }
    .process {
        font-size: 25px;
        height: 25px;
        text-align: right;
        width: 100%;
        @media only screen and (max-width : 768px) {
            display: none;
        }
    }
    .progress-content {
        padding: 10px 25px;
        min-height: 230px;
        @media only screen and (max-width : 768px) {
            min-height: 50px;
        }
        h1 {
            margin-top: 0;
        }
    }
}
