#wrapwrap .s_quotes_slider_2 {
    &.quotecarousel {
        padding: 0;
    }
    .blockquote-layout(#fff, @gray-darker);
    .carousel-indicators {
        .carousel-indicators(5px, -5px);
    }
}
