
#wrapwrap .s_separator_nav {
    position: relative;
    top: -50px;
    height: 82px;
    padding: 0px;
    .btn {
        font-family: @font-family-sans-serif;
        text-align: center;
        width: 82px;
        height: 82px;
        padding-top: 24px;
        font-size: 26px;
        line-height: 1.33;
        border-radius: 48px;
        border: 0px;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
    }
}

#wrapwrap .s_separator_nav_item {
    margin: 0 20px;
    min-height: 100px;
}
