.o_inst_search {
    .institution_search {
        margin-bottom:15px;
        clear: both;
    }
    .beta-img {
        max-height: 34px;
    }
    .inst_icon {
        height: 34px;
        max-height: 34px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
    .pointer {
        cursor: pointer;
    }
    .searchSeparator {
        border-top: 1px solid #e5e5e5;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .border-info {
        padding: 10px;
    }
    .wordbreak {
        word-wrap: break-word;
    }
    .o_caret {
        margin-right: 5px;
    }
    .selected {
        background-color: rgba(229,229,229,0.5);
    }
    .inst_panel {
        height: 100px;
        max-height: 100px;
        border: solid 1px #e5e5e5;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        margin-bottom: 10px;
        box-shadow: 2px 2px 2px #e5e5e5;
    }
    .no_result {
        height: 200px;
        padding-top: 30px;
    }
}
